@media screen and (max-width: 1365px) {
    .container {
        width: 1140px;
    }

    section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .main__info {
        width: 615px;
    }
    .main__info .list {
        margin-bottom: 50px;
    }

    .main__title {
        padding-top: 42px;
        padding-bottom: 32px;
    }

    .catalog .section__title {
        margin-bottom: 50px;
    }

    .catalog__items {
        padding-bottom: 30px;
    }

    .work__top .work__img {
        width: 600px;
    }

    .work__title {
        padding: 40px 550px 40px 70px;
        margin-bottom: 74px;
    }

    .work__bottom {
        margin-top: 0;
    }
    .work__bottom .work__img {
        width: 520px;
    }

    .work__description {
        width: 555px;
    }

    .works__btn {
        margin-top: 50px;
    }

    .partners .section__title {
        margin-bottom: 50px;
    }

    .advantages__slider {
        height: 650px;
    }

    .advantages__title .section__title {
        padding: 50px 50px 50px 0px;
    }

    .advantages__img {
        width: 440px;
    }

    .advantages__items {
        width: calc(100% - 440px);
    }

    .certs .section__title {
        margin-bottom: 50px;
    }

    .recommendations__content {
        padding-right: 690px;
    }

    .fairs__description {
        margin-bottom: 50px;
    }

    .fair__info {
        padding: 40px;
    }

    .decision__description {
        padding-bottom: 30px;
    }

    .decision__img {
        margin-bottom: -120px;
        width: 450px;
        margin-right: -230px;
    }

    .consult__img {
        bottom: -90px;
        width: 570px;
    }

    .spending__info .list {
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 1200px) {
    .container {
        width: 970px;
    }

    .main__info {
        width: 520px;
    }

    .main__title {
        font-size: 36px;
    }

    .main__img {
        width: 730px;
    }

    .main__img_2 {
        width: 500px;
        left: -120px;
    }

    .main__title {
        margin-bottom: 30px;
    }

    .catalog .section__title {
        margin-bottom: 40px;
    }

    .catalog__item {
        width: calc(33.3% - 20px);
    }

    .catalog__items {
        padding-bottom: 20px;
    }

    .section__title {
        font-size: 38px;
    }

    .spending__info {
        width: 460px;
    }
    .spending__info .list {
        margin-bottom: 40px;
    }

    .spending__img {
        width: 745px;
        margin-right: -250px;
    }

    .about__left {
        width: 500px;
    }

    .about__info {
        padding-right: 50px;
    }

    .about__right {
        width: calc(100% - 500px);
        padding-left: 40px;
    }

    .about__logo {
        width: 320px;
        margin-bottom: 30px;
    }

    .work__top .work__img {
        width: 540px;
    }

    .work__title {
        padding: 30px 480px 30px 70px;
        margin-bottom: 66px;
    }

    .work__bottom .work__img {
        width: 450px;
    }

    .work__description {
        width: 500px;
    }

    .works .section__title {
        margin-bottom: 10px;
    }

    .partners .section__title {
        margin-bottom: 40px;
    }

    .advantages__slider {
        height: 600px;
    }

    .advantages__title .section__title {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .advantage__title {
        width: 100%;
        margin-bottom: 12px;
    }

    .advantage__description {
        width: 100%;
    }

    .recommendations__content {
        padding-right: 610px;
    }

    .certs .section__title {
        margin-bottom: 40px;
    }

    .fairs__description {
        margin-bottom: 40px;
    }

    .fair__img {
        width: 700px;
    }

    .fair:nth-child(odd) .fair__img {
        margin-left: -150px;
    }

    .fair:nth-child(even) .fair__img {
        margin-right: -150px;
    }

    .fair__info {
        width: calc(100% - 500px);
    }

    .decision .section__title {
        margin-bottom: 40px;
    }

    .decision__description {
        padding-bottom: 20px;
    }

    .faq__left {
        width: 450px;
    }

    .faq__items {
        width: calc(100% - 450px);
    }

    .consult__img {
        display: none;
    }

    .consult__content {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .cert__img span {
        font-size: 40px;
    }
}
@media screen and (max-width: 992px) {
    .container {
        width: 750px;
    }

    .main {
        padding-top: 0;
    }

    .list li {
        font-size: 18px;
        line-height: 24px;
        background-position: left 2px;
    }

    .main__info {
        width: 100%;
        position: relative;
        z-index: 5;
    }
    .main__info .list {
        width: 50%;
    }

    .main__img {
        position: absolute;
        width: 430px;
        right: -100px;
        margin-right: 0;
        bottom: -15px;
    }

    .main__img_2 {
        width: 286px;
        left: 76px;
        bottom: -65px;
    }

    .spending__img {
        position: absolute;
        right: -100px;
        bottom: -125px;
        width: 490px;
        margin-right: 0;
        margin-bottom: 0;
    }

    .spending__info {
        width: 380px;
    }

    .about__left {
        width: 100%;
        margin-top: 0;
        border: none;
    }

    .about__mobile-logo {
        display: block;
        width: 250px;
        margin-bottom: 30px;
    }

    .about__logo {
        display: none;
    }

    .about__right {
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
    }

    .about__info {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }

    .example {
        width: 400px;
    }

    .work {
        margin-bottom: 50px;
    }

    .work__top {
        margin-bottom: 20px;
    }

    .work__title {
        margin-left: -200px;
        margin-right: -200px;
        padding: 40px 200px;
        width: calc(100% + 400px);
        margin-bottom: 0;
    }

    .work__top .work__img {
        margin-left: auto;
        margin-right: -15px;
    }

    .work__bottom .work__img {
        margin-left: -45px;
    }

    .work__description {
        width: 315px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .partner {
        width: 33.3%;
    }
    .partner:nth-child(4) {
        border-bottom: none;
        border-left: none;
    }
    .partner:last-child {
        border-right: none;
    }

    .advantages__img {
        width: 300px;
    }

    .advantages__slider {
        height: 450px;
    }

    .advantages__items {
        width: calc(100% - 300px);
    }

    .recommendations__img {
        width: 380px;
    }

    .recommendations__content {
        padding-right: 390px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .recommendations__info .section__subtitle {
        margin-bottom: 40px;
    }

    .section__subtitle {
        font-size: 22px;
    }

    .certs__items {
        margin-left: -5px;
        margin-right: -5px;
    }

    .cert {
        margin-left: 5px;
        margin-right: 5px;
        width: calc(25% - 10px);
    }

    .cert__img span {
        font-size: 30px;
        left: 15%;
    }

    .fair {
        margin-bottom: 20px;
    }
    .fair:last-child {
        margin-bottom: 0;
    }

    .fair__img {
        width: 100%;
    }

    .fair:nth-child(odd) .fair__img,
    .fair:nth-child(even) .fair__img {
        margin-left: -30px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .fair:nth-child(odd) .fair__info,
    .fair:nth-child(even) .fair__info {
        width: 100%;
        margin-right: -40px;
        margin-left: 0;
    }

    .decision__description-col {
        width: 100%;
    }

    .faq__left {
        width: 100%;
        margin-bottom: 20px;
    }

    .faq__sign {
        display: none;
    }

    .faq__items {
        width: 100%;
        padding-left: 0;
    }

    .consult__content {
        padding-right: 150px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }

    .main {
        padding-bottom: 150px;
    }

    .main__info .list {
        width: 100%;
    }

    .main__img {
        width: 400px;
        right: -140px;
        bottom: -130px;
    }

    .section__title {
        font-size: 32px;
    }

    .catalog .section__title {
        margin-bottom: 30px;
    }

    .catalog__items {
        margin-left: -5px;
        margin-right: -5px;
    }

    .catalog__item {
        margin-left: 5px;
        margin-right: 5px;
        width: calc(50% - 10px);
        margin-bottom: 10px;
        padding: 24px 24px 174px 24px;
    }

    .spending {
        padding-bottom: 123px;
    }

    .spending__info {
        width: 100%;
    }

    .spending__img {
        width: 390px;
        bottom: -175px;
    }

    .about__content {
        margin-bottom: 50px;
    }

    .work__bottom .work__img {
        margin-left: -250px;
    }

    .partner {
        height: 180px;
    }
    .partner img {
        max-height: 160px;
    }

    .advantages__img {
        width: 270px;
    }

    .advantages__items {
        width: calc(100% - 270px);
    }

    .advantage .btn span {
        padding-left: 12px;
        padding-right: 12px;
    }

    .advantage__title {
        font-size: 18px;
    }

    .advantage__description p {
        font-size: 14px;
    }

    .btn {
        min-width: 270px;
    }
    .btn span {
        padding-top: 9px;
        padding-bottom: 7px;
    }

    .recommendations__img {
        width: 250px;
        bottom: -45px;
    }

    .recommendations__content {
        padding-right: 300px;
    }

    .section__subtitle {
        font-size: 20px;
    }

    .cert {
        margin-bottom: 15px;
        width: calc(50% - 10px);
    }

    .cert__img {
        margin-bottom: 10px;
    }
    .cert__img span {
        left: 27%;
    }

    .fairs__description {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .fair__info {
        padding: 30px;
    }
    .fair__info p {
        font-size: 14px;
    }

    .fair__title {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .fair:nth-child(odd) .fair__info,
    .fair:nth-child(even) .fair__info {
        margin-right: -30px;
    }

    .decision .section__title {
        margin-bottom: 20px;
    }

    .decision__info {
        width: 100%;
    }

    .decision__description-col p {
        font-size: 16px;
    }

    .list li {
        font-size: 16px;
        line-height: 22px;
    }

    .decision__img {
        position: absolute;
        width: 270px;
        margin-bottom: 0;
        margin-right: 0;
        bottom: -115px;
        right: -100px;
    }

    .faq__question {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;
    }

    .faq__answer {
        padding-bottom: 15px;
        padding-left: 15px;
        font-size: 14px;
    }

    .form input {
        height: 44px;
        width: 270px;
    }

    .consult .section__subtitle {
        color: #6c6c6c;
    }

    .form__privacy {
        color: #6c6c6c;
    }
    .form__privacy a {
        color: #6c6c6c;
    }
    .form__privacy a:hover {
        color: #6c6c6c;
    }
}
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    section {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .main__title {
        font-size: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .btn {
        font-size: 14px;
        line-height: 22px;
    }
    .btn span {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section__title {
        font-size: 24px;
    }

    .catalog__item {
        padding: 15px 15px 100px 15px;
    }
    .catalog__item b {
        font-size: 14px;
        line-height: 120%;
        word-break: break-word;
    }
    .catalog__item span {
        font-size: 14px;
        line-height: 120%;
    }
    .catalog__item img {
        -webkit-transform: scale(0.6) translate(35%, 40%);
        -ms-transform: scale(0.6) translate(35%, 40%);
        transform: scale(0.6) translate(35%, 40%);
    }

    .spending {
        padding-bottom: 80px;
    }

    .spending__img {
        width: 270px;
        bottom: -116px;
    }

    .about__info {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        padding-right: 15px;
    }
    .about__info:before {
        right: -15px;
    }
    .about__info p {
        font-size: 16px;
    }

    .about-offices-country {
        font-size: 14px;
    }

    .about__offices-item {
        padding-right: 10px;
    }

    .about__offices-item ul li a {
        font-size: 14px;
    }

    .about__logo {
        width: 250px;
    }

    .about__description p {
        font-size: 14px;
    }

    .example {
        width: 270px;
    }
    .example span {
        font-size: 30px;
    }

    .work__title {
        font-size: 16px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .work__bottom .work__img {
        width: 350px;
    }

    .work__description {
        width: calc(100% - 115px);
    }
    .work__description p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .work {
        margin-bottom: 30px;
    }

    .partners .section__title {
        margin-bottom: 30px;
    }

    .partner {
        height: 30vw;
    }
    .partner img {
        max-height: calc(30vw - 20px);
    }

    .advantage {
        min-height: 0px;
    }

    .advantages__title .section__title {
        padding-right: 15px;
    }

    .advantages__img {
        width: 200px;
        margin-left: -100px;
    }

    .advantages__items {
        margin-left: -20px;
        width: calc(100% - 90px);
    }

    .advantage__title {
        font-size: 16px;
        margin-bottom: 8px;
        word-break: break-word;
    }

    .advantage__description p {
        margin-bottom: 8px;
    }

    .advantage .btn {
        min-width: 0;
    }

    .recommendations__img {
        width: 180px;
        bottom: -70px;
    }

    .recommendations__content {
        padding-right: 155px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .certs .section__title {
        margin-bottom: 30px;
    }

    .cert__img span {
        margin-left: -30px;
    }

    .fair__info {
        padding: 15px;
    }

    .fair__title {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .fair:nth-child(odd) .fair__info,
    .fair:nth-child(even) .fair__info {
        margin-right: -15px;
    }

    .faq {
        padding-top: 80px;
    }

    .faq__description {
        font-size: 16px;
    }

    .faq__left {
        margin-bottom: 10px;
    }

    .consult__content {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
